# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/*.log

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs
*.log
